config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libraptorial.3
libraptorial.la
libtool
ltmain.sh
m4
missing
raptorial-tester
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
libraptorial.xhtml
src/lib/.deps/
src/lib/.dirstamp
src/lib/.libs/
src/lib/*.lo
src/lib/*.o
src/tester/.deps/
src/tester/.dirstamp
src/tester/*.o
