ar-lib
compile
config.guess
config.in
config.in~
config.log
config.status
config.sub
configure
depcomp
.deps
doc/raptorial.ent
install-sh
libraptorial.3
libraptorial.la
libtool
ltmain.sh
m4
missing
rapt-parsechangelog
rapt-parsechangelog.1
rapt-show-versions
rapt-show-versions.1
raptorial-tester
raptorial-file
raptorial-file.1
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
libraptorial.xhtml
src/bin/.deps/
src/bin/.dirstamp
src/bin/.bins/
src/bin/*.lo
src/bin/*.o
src/lib/.deps/
src/lib/.dirstamp
src/lib/.libs/
src/lib/*.lo
src/lib/*.o
src/lib/config.h
src/tester/.deps/
src/tester/.dirstamp
src/tester/*.o
stamp-h1
tags
libraptorial.pc
